  {
    "presets": [
      ["env", { "targets": { "electron": 1.6 } }],
      "react"
    ],
    "plugins": [
      "lodash",
      "transform-class-properties",
      "babel-plugin-transform-flow-comments",
      "transform-object-rest-spread"
    ]
  }
